<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener - Not Found</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>404 - Not Found</h1>
  <p>The requested short URL does not exist.</p>
</body>
</html>
